a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.wrapper{
    display: flex;
}
#header{
    background-color: #111418 ;
    width: 280px;    
    padding: 30px 0;
    position: fixed;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}
.logo img{
    border: 10px solid #2c2323;
    border-radius: 50% ;
}
.logo-text {
    font-size: 22px;
    padding-top: 8px;
    color: #ffff;
}
.nav-link a{
    color: #fff;
    font-size: 18px;
}
.social-icon a{
    padding-right: 10px;
    font-size: 30px;
    color: #fff;
}
.social-icon a:hover{
    color: green;
}
main{
    margin-left: 280px;
}
.wid10{
    width: 100px;
}
#home{
    background-image: url("assets/image/mahabub.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}
.hero-bg {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
}