a {
    text-decoration: none;
}
a:hover{
    color: #fff;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.wrapper{
    display: flex;
}
#header{
    background-color: #111418 ;
    width: 280px;    
    padding: 30px 0;
    position: fixed;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}
.logo img{
    border: 10px solid #2c2323;
    border-radius: 50% ;
}
.logo-text {
    font-size: 22px;
    padding-top: 8px;
    color: #ffff;
}
.nav-link a{
    color: #fff;
    font-size: 18px;
}
.nav-link a:hover{
    color: #FF4500;
}
.social-icon a{
    padding-right: 10px;
    font-size: 30px;
    color: #fff;
}
.social-icon a:hover{
    color: green;
}
main{
    margin-left: 280px;
}
.wid10{
    width: 100px;
}
#home{
    background-image: url("../../assets/image/mahabub.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: .95;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    text-align: center;
}
.hero-bg {
    background-color: black;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999999;
}
.home-btn{
    border: 2px solid #FF4500;
    
    color: #fff;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 30px;
    display: inline-block;
}
.home-btn:hover{
    color: #fff;
    background: #20c997 ;
}

@media (max-width: 767.98px) { 
    .wrapper{
        flex-direction: column;
    }
    #header{
        background-color: #111418 ;
        width: 100%;    
        position: relative;
    }
    .sidebar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;    
    }
    main{
        margin: 0;
    }
 }